<div class="bg-black">
  <div class="relative" style="height: 44rem;">
      <div class="text-white absolute bg-gradient-to-r from-black w-full h-full to-transparent box-border z-10">
        <div class="flex justify-center items-center h-24">
          <button class="px-8 py-3 rounded-xl active">
            О сериале
          </button>
          <button class="px-8 py-3 rounded-xl mx-3 ">
            Сезоны и серии
          </button>
          <button class="px-8 py-3 rounded-xl">
            Детали
          </button>
        </div>
        <div class="px-28">
          <h1 class="text-9xl text-yellow-300 font-bold">Фильм</h1>
        </div>
      </div>
      <img class="object-center object-cover h-full w-full"
           src="./assets/image/img.jpg"
           alt="wild" />
<!--      <video style="height: 44rem;" class="w-full h-fill object-cover object-center" v-else autoplay :muted="mute" loop>-->
<!--        <source :src="videoBoard.video" />-->
<!--      </video>-->
    </div>
</div>
